<h2>Books</h2>

@if (books$ | async; as response) {

  <table border="1">

    <thead>
      <tr>
        <th>ID</th>
        <th>Book Title</th>
        <th>ISBN</th>
        <th>Price</th>
        <th>Stock</th>
        <th>AVG Rating</th>
      </tr>
    </thead>

    <tbody>

      @for (book of response.content; track book.bookId) {

        <tr>
          <td>{{ book.bookId }}</td>
          <td>{{ book.title }}</td>
          <td>{{ book.isbn }}</td>
          <td>{{ book.price }}</td>
          <td>{{ book.stock }}</td>
          <td>{{ book.averageRating }}</td>
        </tr>

      }

    </tbody>

  </table>

}
@else {

  <div class="text-center mt-4">

    <div class="spinner-border text-primary" role="status">
      <span class="visually-hidden">Loading...</span>
    </div>

    
  </div>

}